HELP.md
.target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.class
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.fbprefs
target
bin
.DS_Store
tmpdir
.clover
.cache
*.orig
gen
temp.xml
derby.log
dependency-reduced-pom.xml
*.versionBackup
*.versionsBackup
picasso
/.metadata/
### VS Code ###
.vscode/
